
services:
  web:
    build: .
    ports:
      - "8082:80"
    volumes:
      - ./app:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: guestbook
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
